.plugin-space-heading {
  font-size: 1.5rem;
  margin: 0.8rem;
}
.plugin-space-message {
  display: inline-block;
  font-size: 1.2em;
  margin: 0.8rem;
  margin-top: 0;
}

.plugin-space-action {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}

.plugin-space-action .kuc-mobile-button-1-17-0__button {
  font-family: sans-serif;
  margin: 0;
}
